*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
ul,li{
    list-style: none;
}

.wrapper{
    background: #C0DBD9;
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
}
.top{
    background: #7FAFF6;
    width: 1170px;
    height: 100px;
    margin: 0 15px;
    position: relative;
}
.top__btn{
    border: 1px solid #A5C7F9;
    background: #A5C7F9;
    border-radius: 5px;
    min-width: 206px;
    height: 39px;
    margin: 30px ;
    padding:8px, 15px, 8px, 15px;
    font-size: 20px;
    color: white;
    
    cursor: pointer;
}

.pop-up__button{
    position: absolute;
    top: 8px;
    right: 15px;
    background: #7FAFF6;
    border: 0;
    padding: 8px 15px;
    font-size: 20px;
    width: 43px;
    height: 39px;
    border-radius: 5px;
}

.pop-up{
    width: 400px;
    height: 400px;
    background: white;
    position: absolute;
    top: 0;
    left: 400px;
    display: none;
}
.pop-up:target{
    display: block;
}
.pop-up__text{
    text-align: center;
    font-size: 53px;
    margin-top: 40%;

}
.green{
    background: #B3F95A;
    max-width: 1170px;
    margin: 15px;
    
}
.green__list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    counter-reset: section;          
    list-style-type: none;
}

.green__item:nth-child(1){
    grid-column: span 2;
}
.green__item:nth-child(2){
    grid-column: span 3;
}
.green__item:nth-child(4){
    grid-column: span 5;
}
.green__item{
    background: #8AD191;
    height: 198px;
}
.green__item::before{
      counter-increment: section; 
  content: counters(section,"");
  font-size: 72px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:60px;
}

.blue{
    background: #88B5BF;
    max-width: 1170px;
    min-height: 259px;
    margin: 0 15px;
    
}
.blue__list{
    display: flex;
    justify-content: space-between;
    
}

.blue__item{
    background: #0D89B0;
   /* max-width: 50vw; */
    width: 20%;
    max-height: 12.4em;
    margin: 30px 15px;
    aspect-ratio: 10/9;
    flex-grow: 1;

}
.blue__item:nth-child(1){
    margin-left: 30px;
}
.blue__item:nth-child(4){
    margin-right: 30px;
}

.footer{
    background: #7FAFF6;
    width: 1170px;
    height: 100px;
    margin: 100px 15px 0;
}